.status-no-homeworks {
    justify-content: flex-end;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #c3bdbd;
    padding: 5px;
}

.status-no-homeworks-done {
    justify-content: flex-end;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #fe7c96;
    padding: 5px;
}

.status-all-homeworks-done {
    justify-content: flex-end;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #1bcfb4;
    padding: 5px;
}